@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* 🔥 ANIMACIONES */

.fade-section {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.9s ease;
}

.fade-section.show {
  opacity: 1;
  transform: translateY(0);
}